<div class="card widget">
    <div class="card-content">
        <a href="https://weidian.com/item.html?itemID=2946365256&wfr=wx_wxh5&origin=cps&vc_cps_track=1218134223&share_relation=1d6c266c314b177f_1218134223_2" target="_blank"><img src="/images/tuiguang-shaobo.webp"/></a>
        <a href="https://weidian.com/item.html?itemID=2961335392&wfr=xiaoli&origin=cps&vc_cps_track=1218134223&share_relation=0dd04969c9770a2a_1218134223_1" target="_blank"><img src="/images/tuiguang-wangwei.webp"/></a>
    </div>
</div>